
<style>
  .btn-secondary{
    background-color: black;
  }

  .btn-secondary:hover{
    color: #ffffff;
    background-color: #333;
    border-color: #333; /*set the color you want here*/
}
</style>
  <main class="main">
    <div class="main-content responsive-wrapper">
      <article class="widget">
        <h1>Edit your post</h1>
        <form id="postForm" action="/edit" method="post">
            <input type="hidden" value="<%= post._id%>" name="postId">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" name="postTitle" class="form-control" id="exampleFormControlInput1"
              placeholder="eg: How is AI stealing jobs" value="<%= post.staffName %>" required>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" name="postTitle" class="form-control" id="exampleFormControlInput1"
              placeholder="eg: How is AI stealing jobs" value="<%= post.age %>" required>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" name="postTitle" class="form-control" id="exampleFormControlInput1"
              placeholder="eg: How is AI stealing jobs" value="<%= post.role %>" required>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" name="postTitle" class="form-control" id="exampleFormControlInput1"
              placeholder="eg: How is AI stealing jobs" value="<%= post.qualification %>" required>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" name="postTitle" class="form-control" id="exampleFormControlInput1"
              placeholder="eg: How is AI stealing jobs" value="<%= post.contact %>" required>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" name="postTitle" class="form-control" id="exampleFormControlInput1"
              placeholder="eg: How is AI stealing jobs" value="<%= post.address %>" required>
          </div>

          <div class="col-12">
            <button id="postFormBtn" class="btn btn-secondary" type="submit">Save changes</button>
          </div>
        </form>
      </article>
    </div>
  </main>

  <script>
    var title = document.querySelector("#exampleFormControlInput1");
    var textArea = document.querySelector('#textarea1');
    var formBtn = document.querySelector('#postFormBtn');
    var isTitleClicked = false;
    // Checking if the title input field is clicked
    title.addEventListener('click', function (e) {
      isTitleClicked = true;
      console.log(isTitleClicked);
    });
    //Checking if 'Enter' key is pressed in the content field
    textArea.addEventListener('keydown', function (e) {
      var pressedKey = e.key;
      console.log(pressedKey);
      textArea.addEventListener('keydown', function (e) {
        var pressedKey = e.key;
        if (!e.shiftKey && pressedKey === 'Enter') {
          e.preventDefault();
          formBtn.click(); 3
        }
      });
    });

  </script>